/* p {
    background-color: red;
} */

.kesa {
    color: yellow;
  }

.talvi {
    color: blue;
}

h1{
    color:blue;
}

ul {
    color:pink;
}

.brown {
    color: brown;
}

#red{
    color:red;
}
p{
  color:blue
}

.first-box-container {
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    padding: 0 auto auto 0;
    background-color: red;

    border-style: solid;
    border-color: green;
    border-width:10px;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    position: absolute;
    padding: 0 auto auto 0;
    top: -10px;
    left: 250px;

    background-color: yellow;
    border-style: solid;
    border-width:10px;
    border-color: red;
    
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    position: absolute;
    padding: 0 auto auto 0;
     top: -10px; /*bacause following the parent container 1 from the border */
    left: 250px;

    background-color: green;
    border-style: solid;
    border-color: yellow;
    border-width:10px;
  }

  /* .first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
  } */